.flashes{
    background-color: rgb(211, 44, 44);
}

.functionality{
    background-color: lightslategray;
    color: white;
    text-align: center;
    padding: 30px;
    font-family: Georgia, Serif;
    margin-top: 0px;
}

#custom-nav{
    background-color: black;
    border-radius: 0px;
    border: solid black;
    margin-bottom: 0px;
    background-image: none;
}

#export{
    color: #808080;
}
#check-1{
    border: solid gray;
    padding: 20px;
}
#format-select{
    width: 50%;
    margin: 20px;
}
#DataTables_Table_0_wrapper{
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top:40px;
}

iframe{
    display: inline-block;
    overflow: hidden;
    width: 49%;
    height: 60vh;
}